/*ROBOTO*/

@font-face {
  font-family: "Roboto-black";
  src: url(./Roboto/Roboto-Black.woff2) format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-blackitalic";
  src: url(./Roboto/Roboto-BlackItalic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Roboto-italic";
  src: url(./Roboto/Roboto-Italic.woff2) format("woff2");
  font-style: italic;
}

/*Open Sans*/

@font-face {
  font-family: "Open Sans-Light";
  src: url(./Opensans/OpenSans-Light.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(./Opensans/OpenSans-LightItalic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Open Sans-regular";
  src: url(./Opensans/OpenSans-Regular.woff2) format("woff2");
  font-style: normal;
}
