/*ROBOTO*/

@font-face {
  font-family: "Roboto-Medium";
  src: url(./Roboto/Roboto-Medium.woff2) format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(./Roboto/Roboto-BlackItalic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(./Roboto/Roboto-Italic.woff2) format("woff2");
  font-style: italic;
}

/*Open Sans*/

@font-face {
  font-family: "OpenSans-Light";
  src: url(./Opensans/OpenSans-Light.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url(./Opensans/OpenSans-LightItalic.woff2) format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(./Opensans/OpenSans-Regular.woff2) format("woff2");
  font-style: normal;
}
